<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>All Listing</h1>
    <form method="get" action="/listings/new">
        <button>Create New Route</button>
    </form>
</body>
</html>

<ul>
   <% for(let Listing of allListing){ %> 
       <li><a href="/listings/<%= Listing._id %>"><%= Listing.title  %></a></li>
    <% } %>
</ul>
